@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style: none;
}

h1.logo {
    font-size: inherit;
}

.hidden-text-target {
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.preview-link a {
    text-decoration: none;
    color: inherit;
}
.preview-link a:hover {
    text-decoration: none;
    color: inherit;
}

[class] button:focus,
button[class]:focus {
    outline: none;
}
